@import "../../../styles.scss";

main {
    @include main;
    padding: 1.6875rem 0rem 5.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5625rem;
}

.highlight {
    width: 100%;
}